body {
  background: -webkit-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%); /* W3C */   
}

h1, h2, h3, h4, h5 {
	color: #fff;
}